version: '3.9'

services:
  ghost_feed:
    build:
      context: .
    ports:
      - '3200:3200'
    volumes:
      - 'ghost_feed_storage:/var/storage:rw'
    environment:
      FEEDGEN_PORT: '3200'
      FEEDGEN_LISTENHOST: '0.0.0.0'
      FEEDGEN_SQLITE_LOCATION: '/var/storage/db.sqlite'
      FEEDGEN_SUBSCRIPTION_ENDPOINT: 'wss://bsky.network'
      FEEDGEN_HOSTNAME: ''
      FEEDGEN_PUBLISHER_DID: ''
      FEEDGEN_SUBSCRIPTION_RECONNECT_DELAY: '3000'
      FEED_PASSWORD: ''

volumes:
  ghost_feed_storage: {}